<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>會員中心</title>

<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">

<style>
.container {
    display: flex;
    max-width: 1200px;
    margin: 30px 0 30px 60px;
    gap: 24px;
}


.content {
    flex: 1;
    padding: 30px;
}
</style>

</head>
<body>

<div th:replace="~{frontend/index/header :: header}"></div>

<div class="container">

    <!-- 左側選單 -->
    <div th:replace="~{frontend/customer/fragments/sidebar :: customerSidebar}"></div>

    <!-- 右側內容 -->
    <div class="content">

        <h2>
            歡迎，
            <span th:text="${loginCustomer.custName}"></span>
        </h2>

        <p>請從左側選單選擇功能</p>

    </div>

</div>
<div th:replace="~{frontend/index/footer :: footer}"></div>

</body>
</html>