<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>台北GO了沒 - 客服中心</title>

<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/cs/cs.css}">
<style>
.button{
	font-size: 18px;
	background: white;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: 1px solid #f05a28;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    min-width: 150px;
}
</style>
</head>
<body>
<div class="main-box">
    
    <h2>台北GO了沒 - 客服中心</h2>

<br>
<div>
    <a th:href="@{/}">
        <button type="button" style="background-color: #6c757d; color: white; padding: 5px 10px; border: none; border-radius: 3px; cursor: pointer;">
        返回 首頁
        </button>
        </a>
   </div>
       <div th:if="${successMsg}" style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 20px; border-radius: 5px; position: relative;">
        <span th:text="${successMsg}"></span>
        <button type="button" onclick="this.parentElement.style.display='none';" style="position: absolute; right: 10px; top: 12px; background: none; border: none; cursor: pointer; font-size: 16px;">✖</button>
    </div>
    <div th:if="${errorMsg != null}" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 1px 15px; margin-bottom: 15px; border-radius: 5px; position: relative; " >
        <p th:text="${errorMsg}"></p>
    </div>
   <hr>  

    <div class="action-cards" style="display: flex; justify-content: space-between;"  >
           <a th:href="@{/CustomerService/createticket}">
        <div class="button" >
        提出新詢問
        </div></a>
      	<a th:href="@{/CustomerService/ActiveCase}">
        <div class="button" >
        追蹤進度
        </div></a>
        
         <a th:href="@{/CustomerService/InactiveCase}">
        <div class="button" >
        歷史紀錄
        </div></a>
        
    </div>
    
</div>
   <!-- Footer -->
    <div th:replace="~{frontend/index/footer :: footer}"></div>
</body>
</html>