<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="footer">

    <!-- 上半部 -->
    <div class="footer-top">

        <div class="footer-column">
            <h3>認識 Taipei Go</h3>
            <p>關於 Taipei Go</p>
            <p>常見問題</p>
        </div>
        <div class="footer-column payment">
            <h3>付款方式</h3>
            <div class="payment-grid">
                <div class="pay-card">VISA</div>
                <div class="pay-card">Master</div>
                <div class="pay-card">JCB</div>
        </div>
    </div>

    <!-- 下半部 -->
    <div class="footer-bottom">
        <div class="copyright">
            © 2026 Taipei Go All Rights Reserved.
            旅遊產品由客遊天下旅行社有限公司提供
        </div>
    </div>
</footer>
</body>
</html>