<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="footer">

    <!-- 上半部 -->
    <div class="footer-top">

        <div class="footer-column">
            <h3>認識 Taipei Go</h3>
            <p>關於 Taipei Go</p>
            <p>官方部落格</p>
            <p>加入我們</p>
            <p>媒體新聞</p>
            <p>永續發展</p>
        </div>

        <div class="footer-column">
            <h3>攜手 Taipei Go</h3>
            <p>供應商註冊</p>
            <p>供應商登入</p>
            <p>聯合行銷</p>
            <p>名人合作</p>
            <p>同業交易</p>
            <p>與 Taipei Go 合作</p>
        </div>

        <div class="footer-column">
            <h3>服務條款</h3>
            <p>服務條款</p>
            <p>隱私權政策</p>
            <p>Cookie 政策</p>
            <p>動物福利政策</p>
        </div>

        <div class="footer-column payment">
            <h3>付款方式</h3>

            <div class="payment-grid">
                <div class="pay-card">VISA</div>
                <div class="pay-card">Master</div>
                <div class="pay-card">JCB</div>
                <div class="pay-card">LINE Pay</div>
                <div class="pay-card">Apple Pay</div>
                <div class="pay-card">Google Pay</div>
            </div>
        </div>

    </div>

    <!-- 下半部 -->
    <div class="footer-bottom">

        <div class="copyright">
            © 2026 Taipei Go All Rights Reserved.
            旅遊產品由客遊天下旅行社有限公司提供
        </div>

       

    </div>

</footer>

</body>
</html>