<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>台北GO了沒</title>

<link rel="stylesheet" th:href="@{/css/index/header.css}">
<link rel="stylesheet" th:href="@{/css/index/heroSearch.css}">
<link rel="stylesheet" th:href="@{/css/index/footer.css}">
<link rel="stylesheet" th:href="@{/css/index/heroBanner.css}">
</head>

<body>

	<!-- Header -->
	<div th:replace="~{frontend/index/header :: header}"></div>

	<!-- Hero Search -->
	<div th:replace="~{frontend/index/heroSearch :: heroSearch}"></div>
	
<!--<div th:replace="~{frontend/index/heroBanner :: heroBanner}"></div> -->
	
	<!-- 首頁內容 -->
	<main>
		<section class="home-section">
			<h2>熱門景點</h2>
			<p>商品相關</p>
		</section>

		<section class="home-section">
			<h2>推薦行程</h2>
			<p>商品相關</p>
		</section>

	</main>

	<!-- Footer -->
	<div th:replace="~{frontend/index/footer :: footer}"></div>
	
	<!-- JS引入 -->
	<script th:src="@{/js/heroBanner.js}"></script>
	<script th:src="@{/js/index/header.js}"></script>
</body>

</html>