<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>台北GO了沒</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>

    <!-- Header -->
    <div th:replace="~{frontend/index/header :: header}"></div>

    <!-- 首頁內容 -->
    <main>

        <!-- 商品組區域 -->
        <section style="max-width:1200px; margin:80px auto;">

            <h2 style="font-size:36px; margin-bottom:20px;">
                熱門景點
            </h2>

            <p style="color:#666;">
                商品相關
            </p>

        </section>

        <section style="max-width:1200px; margin:80px auto;">

            <h2 style="font-size:36px; margin-bottom:20px;">
                熱門行程
            </h2>

            <p style="color:#666;">
                商品相關
            </p>

        </section>

        <section style="max-width:1200px; margin:80px auto;">

            <h2 style="font-size:36px; margin-bottom:20px;">
                最新優惠
            </h2>

            <p style="color:#666;">
                商品相關
            </p>

        </section>

    </main>

    <!-- Footer -->
    <div th:replace="~{frontend/index/footer :: footer}"></div>

</body>

</html>