<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>台北GO了沒</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>

    <!-- Header -->
    <div th:replace="~{frontend/index/header :: header}"></div>

    <!-- 內容 -->
    <main>
		<h1>門票前台單筆資料</h1>
       

    </main>

    <!-- Footer -->
    <div th:replace="~{frontend/index/footer :: footer}"></div>

</body>

</html>