<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增系統管理員</title>
</head>
<body>
    <h2>➕ 新增系統管理員</h2>
    <a th:href="@{/backend/admin/it/listAll}">🔙 回到管理員名單</a>
    <hr>
    
    <form th:action="@{/backend/admin/it/createAdmin}" method="post">
        
        <label>登入帳號：</label>
        <input type="text" name="admAcc" required><br><br>
        
        <label>登入密碼：</label>
        <input type="password" name="admPw" required><br><br>
        
        <label>管理員姓名：</label>
        <input type="text" name="admName" required><br><br>
        
		<label>到職日：</label>
		<input type ="date" name="hireDate" required><br><br>
		
		<!--admStatus已經在Service裡寫了 是1 (開通)  -->

        <hr>
        <h3>設定操作權限：</h3>
        <th:block th:each="func : ${funcList}"> 
            <input type="checkbox" name="funcIds" th:value="${func.funcId}">
            <span th:text="${func.funcName}"></span><br>
        </th:block>
        
        <br><br>
        <button type="submit">💾 確認新增</button>
    </form>
    
    <div th:text="${errorMsg}" style="color:red; font-weight:bold;"></div>
</body>
</html>